{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block styles %}
    {{ style('index.css') }}
{% endblock %}

{% block scripts %}
    {{ script('technologies.js') }}
{% endblock %}

{% block content %}
<div class="index-body" x-data="technologies('{{ author if author else '' }}')" x-init="getItems(metadata)">
    {% if author %}
        <h1>Entries by {{ author }}</h1>
    {% endif %}
    <div class="card my-3">
        <div class="card-header">
            Ordering
        </div>
        <div class="card-body d-flex justify-content-around">
            <div class="btn-group" role="group" aria-label="Ordering selection">
                <button class="btn btn-primary ordering-selection-button active" name="creation_date" @click="changeOrdering">By creation date</button>
                <button class="btn btn-primary ordering-selection-button" name="likes" @click="changeOrdering">By likes</button>
            </div>
            <i class="bi bi-arrow-down-square display-6" :class="`bi-arrow-${metadata.dir == '-' ? 'down' : 'up'}-square`" @click="toggleDir"></i>
        </div>
    </div>
    <hr />
    <template x-for="(t, i) in data.results">
        {% include 'card.html' %}
    </template>
    <hr />
    <template x-if="data.more || metadata.page > 0">
        <div class="card page-selector">
            <div class="row g-0">
                <div class="col-md-6 d-flex justify-content-center">
                    <template x-if="metadata.page > 0">
                        <i class="bi bi-arrow-left-circle display-6" @click="changePage(-1)"></i>
                    </template>
                </div>
                <div class="col-md-6 d-flex justify-content-center">
                    <template x-if="data.more">
                        <i class="bi bi-arrow-right-circle display-6" @click="changePage(1)"></i>
                    </template>
                </div>
            </div>
        </div>
    </template>

    <div class="modal fade" id="deletionModal" tabindex="-1" aria-labelledby="deletionModalTitle" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deletionModalTitle">Confirm deletion</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete the entry about <b x-text="selectedTechnology.name"></b>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" @click="deleteTechnology(selectedTechnology.tid)">Yes</button>
                </div>
            </div>
        </div>
    </div>

    {% include 'error_modal.html' %}
</div>
{% endblock %}